/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background: linear-gradient(to bottom, #091b2e, #f45c43);;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Container */
.login-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 28px;
    color: white;
    margin-bottom: 20px;
}

/* Input Groups */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #f0f0f0;
}

input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 14px;
    outline: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Login Button */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: linear-gradient(to right, #6a0572, #b83280);
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
    background: linear-gradient(to right, #b83280, #6a0572);
}

/* Error Message */
.error-message {
    color: red;
    font-size: 0.9rem;
    margin-top: 1rem;
    display: none;
}

/* Register Link */
.register-link {
    margin-top: 20px;
}

.register-link p {
    font-size: 14px;
    color: #f0f0f0;
}

.register-link a {
    color: #0E84B7 ;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 480px) {
    .login-container {
        padding: 20px;
    }

    h1 {
        font-size: 22px;
    }

    input, button {
        font-size: 14px;
    }
}
