<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact - GoFAST</title>
    <link rel="stylesheet" href="/static/css/contact.css">
    <script src="/static/js/contact.js" defer></script>
</head>
<body>
    <nav class="navbar">
        <div class="title">GoFAST</div>
        <div class="navbar-icons">
            <a href="driver" title="Home"><img src="/static/icons/home-icon.png" alt="Home"></a>
            <a href="notif" title="Notifications"><img src="/static/icons/notification-icon.png" alt="Notifications"></a>
            <a href="profile" title="Profile"><img src="/static/icons/profile-icon.png" alt="Profile"></a>
            <a href="passengerDashboard" title="Switch Mode"><img src="/static/icons/switch-icon.png" alt="Switch Mode"></a>
        </div>
    </nav>
    <main class="contact-page">
        <div class="heading-container">
            <h1>Contact Us</h1>
        </div>
        <div class="contact-container">
            <button id="whatsapp-button">Contact via WhatsApp</button>
        </div>
    </main>
</body>
</html>