<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend+Deca">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kanit">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoFast</title>
    <link rel="stylesheet" href="/static/css/homePage.css">
</head>
<body>
    <div class="right-image">
        <img src="/static/icons/bg.png" alt="Right Side Image">
    </div>
    <div class="hero">
        <h1 id="welcome-text">GoFAST</h1>
        <p class="tagline">Connecting FASTians for seamless carpooling</p>
    </div>
    <div class="centered-button">
        <button id="cta-button">Get Started</button>
    </div>
    <footer>
        <p>&copy; 2024 GoFast. All rights reserved. | <a href="#terms">Terms of Service</a></p>
    </footer>
    <script src="/static/js/home.js"></script>
</body>
</html>
